.alert-content-box{
  min-height: 200px;
  max-height: 530px;
  overflow: scroll;
}
.nav-stacked>li>a,.nav-stacked>li>a:hover{
  background-color: #141E30;
  color:white !important;
  border-right: 5px solid transparent;
  cursor: pointer;
}


