.graph-plot{
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto;
  border:2px solid greenyellow;
  padding: 20px;
}
.time-buttons{
  text-align: center;
}
.btn-analyze{
  margin-top: 10%;
}
