.vehicle-content{
    margin-top:5%;
}
.vehicle-header{
    width: 95%;
    padding:20px 0px 0px 0px;
    margin: auto;

    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}
.tabs-active{
    background-color: #36D1DC !important;
    color:white !important;
    border-bottom: 2px solid white;
}
.nav-tabs>li>a{
    background-color:white;
    color: #36D1DC;
    border: 1px solid #36D1DC;
}

.tab-content{
    margin-top: 10px;
}
.overview-content{
    width: 90%;
    padding:20px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
.green-color{
    color:green;
}
.red-color{
    color:red;
}
.last-service{
    margin-left: 70%;
}
.badge-color{
    background-color:#5B86E5 !important;
}
.nav-pills>li{
    background-color: white;
    cursor: pointer;
}